<p id="notice"><%= notice %></p>

<p>
  <strong>Optimizable:</strong>
  <%= @optimization.optimizable %>
</p>

<%= link_to 'Edit', edit_optimization_path(@optimization) %> |
<%= link_to 'Back', optimizations_path %>
